<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="MonoAndroid60" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="MonoAndroid60" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
</packages>